@import "bourbon";
@import "neat";
@import "base/base";
@import "header";

article.contract > header > aside.timeline {

}

//hopefully we can remove this soon.
.lettr span {
  top: 0 !important;
}

//this makes sure that we dont clip. not sure how this impacts performance... i hear its actually good for it...
.liquid-container, .liquid-child {
  overflow: visible;
}

code {
  white-space: pre;
}

main {
  @include outer-container();
}

//todo: break out into another fiel
main.resume {
  > section {
    padding: $base-spacing/3;
    margin: $base-spacing/3;
    background-color: #f4f4f4;
    border: 2px solid #eeeeee;
    //border-radius: 4px;
    > h1 {
      font-weight: 500;
      font-size: 2* $base-font-size;
      border-bottom: solid 1px $red;
    }

    a {
      padding-right: $base-spacing/2;
    }
    > article { //hopkins, contract
      article {
        margin-left: $base-spacing;
      }
      > header {
        margin: 0;
      }

      header {
        h2 {
          font-weight: 200;
          font-size: $base-font-size*1.5;
          margin: 0;
        }
        h3 {
          font-weight: 400;
          font-size: $base-font-size*1.2;
          margin: 0;
        }
        h4 {
          font-weight: 400;
          font-size: $base-font-size*1.5;
          margin: 0;
        }
        h6 {
          font-weight: 400;
          font-size: $base-font-size*1;
          margin: 0;
        }
        aside {
          &.timeline {
            text-align: right;
          }
        }
      }

      ul {
        li {
          font-weight: 200;
          font-size: $base-font-size;
        }
      }

    }

    &#projects {
      article.project {
        margin-bottom: $base-spacing;
        > header {
          > aside {
            display: inline-block;

          }
        }
      }
    }
    &#download {
      article {
          text-align: center;

        > div.download {
          display: inline-block;
          padding: $base-spacing/2;
          h3{
            margin:0;
          }
          margin: $base-spacing/3;
          width: 400px;
          background-color: #f0f0f0;
          border: 1px solid #dddddd;



        }
      }
    }
    &#education {
      > article.umbc {
        .classes {
          text-align: center;
          li {

            display: inline-block;
          }
          li:not(:first-child):before {
            content: "\2004 • \2004"
          }

        }

      }
      > article.online {

      }
    }
  }
}

@import "dynamic_content";
@import "projects";
@import "skills";
@import "project";