
body > div.ember-view > header {
  @include outer-container();

  h1 {
    font-size: 5*$base-font-size;
    font-weight: 100;
    margin: 0;
  }

  aside {
    text-align: right;
    > a {

    }
  }

  aside {
    flex-basis: 13em;
    flex-shrink: 0;
    margin-bottom: $base-spacing * 2;
    padding: 0;
    a {
      line-height: 1.5em;
      list-style: none;
      text-align: center;

      color: $base-font-color;
      text-decoration: none;

      &:focus,
      &:hover {
        color: transparentize($base-background-color, 0);
      }
    }

  }

  nav {
    $base-spacing: 1.5em !default;
    $dark-gray: #333 !default;
    $base-font-color: $dark-gray !default;
    $action-color: #477dca !default;
    $stats-color: lighten($action-color, 10%);

    padding: $base-spacing / 2;

    ul {
      padding: 0;
    }
    a {
      color: $base-font-color;
      display: block;
      font-size: 1.3em;
      font-weight: normal;
      border-right: 1px solid transparentize($base-font-color, 0.8);
      color: $stats-color;
      display: inline;
      float: left;
      line-height: 1.5em;
      padding: 0 0.7em;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border-right: 0;
      }
    }

  }

}
