@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

main.projects {

  article#project-select, article#project {
    min-height: 1000px;
  }

  header {
    h1 {
      font-weight: 100;
      font-size: $base-font-size*4;
    }
    h2 {
      font-size: $base-font-size*2;
      font-weight: 200;
    }
    h4 {
      font-size: $base-font-size*1.5;
      font-weight: 300;
    }
  }
  section.description {
    p {
      font-size: $base-font-size*1.2;
      font-weight: 200;
    }
  }
  ul {
    li {
      font-size: $base-font-size;
      font-weight: 300;
    }
  }

  .grid-items {
    $action-color: #477DCA !default;
    $base-background-color: white !default;
    $medium-screen: 40em !default;
    $large-screen: 53.75em !default;
    $grid-items-background: $base-background-color;
    $grid-item-background: desaturate($action-color, 30%);

    $grid-item-border-size: 9px;
    $grid-item-columns: 4;
    $grid-item-big-columns: 8;
    $grid-item-color: white;
    $grid-item-height: 14em;

    @include clearfix;

    .grid-item {
      background: $grid-item-background;
      border-bottom: $grid-item-border-size solid $grid-items-background;
      border-left: ($grid-item-border-size / 2) solid $grid-items-background;
      border-right: ($grid-item-border-size / 2) solid $grid-items-background;
      border-top: 0;
      cursor: pointer;
      float: left;
      height: $grid-item-height;
      outline: none;
      overflow: hidden;
      padding: 2em;
      text-align: center;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
      width: 100%;
      background-size: cover;
      @include media($large-screen) {
        @include grid-item-columns($grid-item-columns);
      }
      img {
        display: block;
        height: 5em;
        margin: 0 auto 1em;
      }
      h1 {
        color: $grid-item-color;
        font-size: $base-font-size * 3.6;
        font-weight: 100;
        height: 80px;
        margin-bottom: 20px;
      }
      h2 {
        color: $grid-item-color;
        font-size: $base-font-size * 2.2;
        font-weight: 300;
        margin-bottom: 0.0em;
      }
      aside {
        color: white
      }
      p {
        color: transparentize($grid-item-color, 0.3);
        line-height: 1.5em;
        margin: auto;

        @include media($medium-screen) {
          max-width: 70%;
        }
      }
      @for $i from 1 through length($grid-item-colors) { // assign colors from $grid-item-colors list
        &:nth-child(#{$i}) {
          $background-from-list: nth($grid-item-colors, $i);
          background-color: $background-from-list;
          box-shadow: inset 0 0 1px 2px darken($background-from-list, 10%);
          @if (nth($grid-item-img, $i) != none) {
            @include retina-image(nth($grid-item-img, $i), 215 800)
          }
          &:focus,
          &:hover {
            background-color: darken($background-from-list, 10%);
            //background-position: top;
            //background-repeat: no-repeat;

          }
        }
      }
      &.moar-spacing {
        img {
          margin-bottom: 30px;
        }
        h2 {
          margin: 0;
          font-size: $base-font-size * 1.8;
        }
      }
      &.less-spacing {
        img {
          margin-bottom: 20px;
        }
        h2 {
          margin: 0;
          font-size: $base-font-size * 1.8;
        }
      }
      &.grid-item-white-glow{
        h1, h2 {
          text-shadow: 0 0 7px white;

        }
      }
    }

    .grid-item-big {
      @include media($large-screen) {
        @include grid-item-columns($grid-item-big-columns);
      }

      p {
        @include media($medium-screen) {
          max-width: 60%;
        }
      }
    }

    .grid-item-image {
      background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png");
      background-color: $grid-item-background;
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

}