<main class="resume">
    <section id="projects">
        <h1>Projects</h1>
        <article id="hopkins">
            <header>
                <h2>Technology Innovation Center (TIC), Johns Hopkins Medicine</h2>
                <aside>Baltimore, Maryland</aside>
                <h4>Software Engineering Intern</h4>
                <aside class="timeline">June 2012—Present</aside>
            </header>
            <section class="content">
                <article id="epiwatch" class="project">
                    <header>
                        <h3>EpiWatch</h3>
                        <h6>Seizure Tracking on Apple Watch.</h6>
                        <aside><a href="hopkinsmedicine.org/epiwatch">Homepage</a></aside>
                    </header>
                    <ul class="content">
                        <li>Currently: Lead development on version 2. Implemented new UI on both iPhone and Apple
                            Watch.
                        </li>
                        <li>Utilized CoreMotion to capture accelerometer in the background, bringing data coverage from roughly 30% to over 95%, while quartering the EpiWatch's processor usage during seizure tracking. </li>
                        <li>Implemented compact binary file format and protocol for reliably caching/storing/transmitting captured sensor data (HeartRate, Motion Data)</li>
                        <li>Implemented seizure monitoring mode: Allows user to enable sensors for several hours a day to proactively monitor for seizures.</li>
                        <li>Enabled access to record Gyroscope data on AppleWatch</li>
                        <li>Implemented surveys, user tasks, and charts/dashboards using ResearchKit and HealthKit</li>
                    </ul>
                </article>
                <article id="reach" class="project">
                    <header>
                        <h3>Radiologists Engaging and Collaborating in Healthcare (REACH)</h3>
                        <h6>An iOS teleconsultation application connecting radiologists to clinicians.</h6>
                        <aside><a href="http://youtu.be/XM1nrW_uLqM">Video</a></aside>
                    </header>
                    <ul class="content">
                        <li>Designed/Built/Maintain iOS application in Swift and Objective-C.</li>
                        <li>Embedded enterprise clinical medical image viewer into native iOS client application.
                        </li>
                        <li>Leveraged open source where possible: SIP video soft-phone library Liblinphone, JSON
                            modeling framework Mantle, networking framework Alamofire, functional reactive programming
                            framework ReactiveCocoa.
                        </li>
                        <li>Built web client with Ember.js leveraging WebRTC library SIP.js to connect iOS clients to
                            Chrome, Firefox users.
                        </li>
                        <li>Configured a HIPAA compliant on-site Asterisk PBX server for WebRTC and h.264.</li>
                    </ul>
                </article>

                <article id="oasis" class="project">
                    <header>
                        <h3>OASIS</h3>
                        <h6>Clinical data research tool</h6>
                    </header>
                    <ul class="content">
                        <li>Implemented ETL technologies in ruby to model/import exam data from disparate data sources
                            into user’s project
                        </li>
                        <li>Deployed and released first version.</li>
                        <li>Rapidly prototyped and released features, integrating feedback from preliminary users.
                        </li>
                    </ul>
                </article>
                <article id="resident-worklist" class="project">
                    <header>
                        <h3>Resident Worklist</h3>
                        <h6>Teaching tool gives resident radiologists feedback on their reports by showing a diff
                            between
                            their report and the final report.</h6>
                    </header>
                    <ul class="content">
                        <li>Developed Ember.js front end.</li>
                        <li>Embedded enterprise clinical medical image viewer into native iOS client application.
                        </li>
                        <li>Used daily by over 80 clinicians and radiology residents at Johns Hopkins Hospital.
                        </li>
                    </ul>

                </article>
                <article id="peer-review" class="project">
                    <header>
                        <h3>Peer Review</h3>
                        <h6>federal departmental compliance</h6>
                    </header>
                    <ul class="content">
                        <li>Used by 80 clinicians and radiology residents at Johns Hopkins Hospital.</li>
                        <li>Embedded enterprise clinical medical image viewer into native iOS client application.
                        </li>
                        <li>Managed development for 7 months during a senior developer’s leave of absence.</li>
                        <li>Implemented Patient search functionality, leading to deployment at new hospital.</li>
                    </ul>

                </article>

                <article id="achievements" class="project">
                    <header>
                        <h3>Accomplishments</h3>
                    </header>
                    <ul class="content">
                        <li>Created on Ruby on Rails gem consolidating assets, deployment and development scripts,
                            common app functionality, and RESTful APIs to patient data. This gem is now integrated into
                            5
                            applications.
                        </li>
                        <li>3 published NPM packages for Ember-CLI.</li>
                    </ul>

                </article>
            </section>
        </article>

        <article id="contract">

            <header>
                <h2>BST Medical Solutions</h2>
                <h4>Software Engineer</h4>
                <aside class="timeline">January 2016—Present</aside>
            </header>
            <section class="content">
                <article id="achievements" class="project">
                    <header>
                        <h3>ReadAhead Hybrid, Anacrusis LLC</h3>
                        <h6>Sightreading for the modern musician.</h6>
                        <aside>
                            <a href="http://youtu.be/XM1nrW_uLqM">Homepage</a>
                            <a href="http://youtu.be/XM1nrW_uLqM">iTunes</a>
                            <a href="http://youtu.be/XM1nrW_uLqM">Google Play</a>
                        </aside>
                    </header>
                    <ul class="content">
                        <li>Constructed Metronome in Javascript using WebAudio API for Cordova iOS application.</li>
                        <li>Implemented UI Implemented in-app purchases.</li>
                        <li>Implemented open source Cordova plugin to access iOS Microphone.</li>
                    </ul>
                </article>
            </section>
        </article>
        <article id="oss">

        </article>

    </section>
    <section id="education">
        <h1>Education</h1>
        <article class="umbc">
            <header>
                <h2>University of Maryland, Baltimore County</h2>
                <h4>Computer Science, Mathematics BS. </h4>
                <aside class="timeline">GPA: 3.2&emsp;•&emsp;2012—2016</aside>
            </header>
            <section class="content">
                <article id="coursera" class="project">
                    <header>
                        {{!--<h3>ReadAhead Hybrid, Anacrusis LLC</h3>--}}
                        {{!--<h6>Sightreading for the modern musician.</h6>--}}
                        {{!--<aside><a href="http://youtu.be/XM1nrW_uLqM">Homepage</a>--}}
                        {{!--<a href="http://youtu.be/XM1nrW_uLqM">iTunes</a>--}}
                        {{!--<a href="http://youtu.be/XM1nrW_uLqM">Google Play</a></aside>--}}
                    </header>
                    <ul class="classes">
                        <li>Software Engineering</li>
                        <li>Algorithms</li>
                        <li>Assembly</li>
                        <li>Operating Systems</li>
                        <li>Architecture</li>
                        <li>Quantum Computing</li>
                        <li>Artificial Intelligence</li>
                        <li>Databases</li>
                        <li>Math Modeling</li>
                        <li>Real Analysis</li>
                        <li>Topology</li>
                    </ul>
                </article>
            </section>

        </article>
        {{!--<article class="online">--}}
        {{!--<header>--}}
        {{!--<h2>Online Coursework:</h2>--}}
        {{!--</header>--}}
        {{!--<section class="content">--}}
        {{!--<article id="coursera" class="project">--}}
        {{!--<header>--}}
        {{!--<h3>ReadAhead Hybrid, Anacrusis LLC</h3>--}}
        {{!--<h6>Sightreading for the modern musician.</h6>--}}
        {{!--<aside><a href="http://youtu.be/XM1nrW_uLqM">Homepage</a>--}}
        {{!--<a href="http://youtu.be/XM1nrW_uLqM">iTunes</a>--}}
        {{!--<a href="http://youtu.be/XM1nrW_uLqM">Google Play</a></aside>--}}
        {{!--</header>--}}
        {{!--<ul class="content">--}}
        {{!--<li>Constructed Metronome in Javascript using WebAudio API for Cordova iOS application.</li>--}}
        {{!--<li>Implemented UI Implemented in-app purchases.</li>--}}
        {{!--<li>Implemented open source Cordova plugin to access iOS Microphone.</li>--}}
        {{!--</ul>--}}
        {{!--</article>--}}
        {{!--</section>--}}
        {{!--</article>--}}

    </section>
    {{!--<section id="download">--}}
        {{!--<h1>Share it:</h1>--}}
        {{!--<article>--}}
            {{!--<a href="JosephDaniels-RESUME.pdf">--}}
                {{!--<h3>PDF</h3>--}}
            {{!--</a>--}}
        {{!--</article>--}}
    {{!--</section>--}}

</main>