// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;
@font-face {
  font-family: "an";
  src: url(fonts/Bold.ttf) format("truetype");
  font-weight: 500;
  font-style:normal;
}
@font-face {
  font-family: "an";
  src: url(fonts/BoldItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic

}
@font-face {
  font-family: "an";
  src: url(fonts/DemiBold.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "an";
  src: url(fonts/DemiBoldItalic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic
}
@font-face {
  font-family: "an";
  src: url(fonts/Heavy.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "an";
  src: url(fonts/HeavyItalic.ttf) format("truetype");
  font-weight: 600;
  font-style: italic
}
@font-face {
  font-family: "an";
  src: url(fonts/Italic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic
}
@font-face {
  font-family: "an";
  src: url(fonts/Medium.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "an";
  src: url(fonts/MediumItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic
}
@font-face {
  font-family: "an";
  src: url(fonts/Regular.ttf) format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "an";
  src: url(fonts/UltraLight.ttf) format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "an";
  src: url(fonts/UltraLightItalic.ttf) format("truetype");
  font-weight: 100;
  font-style: italic
}

$font-stack-an: (
        "an",
        "Helvetica Neue",
        "Helvetica",
        "Arial",
        sans-serif,
        monospace
);

$font-stack-system: $font-stack-an;
// Typography
$base-font-family: $font-stack-system;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #3e999f;
$red:c82829;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
