<header>
    <h1>Joe Daniels</h1>
    <ul>
        <li><a href="http://github.com/joedaniels29">Github</a></li>
        <li><a href="mailto:joedaniels29@me.com">Email Me</a></li>
        <li><a class="npm-button" href="https://www.npmjs.com/~joedaniels29">NPM</a></li>
        <li><a class="facebook" href="https://www.facebook.com/joedaniels29">Facebook</a></li>
        <li><a class="twitter" href="https://www.npmjs.com/~joedaniels29">Twitter</a></li>
        <li><a class="linked-in" href="https://www.npmjs.com/~joedaniels29">LinkedIn</a></li>
        <li><a class="instagram" href="https://www.instagram.com/joedaniels29/">Instagram</a></li>
        <li><a class="good-reads" href="https://www.goodreads.com/joedaniels29">GoodReads</a></li>
    </ul>

    <nav>
        <section>
            {{#link-to "projects"}}Projects{{/link-to}}
            {{#link-to "index"}}Resume{{/link-to}}
        </section>
        {{!--{{#link-to "projects"}}Blog{{/link-to}}--}}
        <aside>{{application/lett-r models=model}}</aside>
    </nav>
</header>

{{liquid-outlet}}
